html, body {
    height: 100%;
}

body {
    min-height: 100%;
    display: flex;
    flex-direction: column;
    background-image: url("../img/prueba.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    font-family: Arial, sans-serif;
}
main {
    flex: 1;
}

.caja {
    background-color: white;
    border-radius: 20px;
    overflow: hidden; /*esquinas redondeadas img */
    box-shadow: 0 10px 30px rgba(0,0,0,0.3);
    margin: 50px auto;
    max-width: 1000px;
    padding: 0;
}

nav.navbar.bg-dark {
    background-color: #020202 !important;
}

.navbar-brand, .nav-link {
    color: white !important;
}

.nav-link {
    transition: color 0.3s ease;
}

.nav-link:hover {
    color: #aaaaaa !important;
}

/* Contenedor img */
.col-img {
    padding: 0;
}

.col-img img {
    width: 100%;
    height: 100%;
    object-fit: cover; /*llena todo el espacio sin deformarse */
    display: block;
}


.formLogIn {
    padding: 3rem;
    background: white;
}

.formLogIn h2 {
    font-weight: bold;
    margin-bottom: 2rem;
    color: #333;
}

.btn-primary {
    border-radius: 30px !important;
    background-color: #0d6efd;
    border: none;
    padding: 10px;
    width: 100%;
    margin-bottom: 10px;

}

.btn-outline-primary {
    border-radius: 30px !important;
    width: 100%;
    padding: 10px;
}

footer {
    background-color: #020202;
    color: white;
    text-align: center;
    padding: 15px;
    margin-top: 40px;
}